In [1]:
import pandas

In [27]:
df1=pandas.DataFrame([[2,4,6], [10,20,30]], columns=["Price", "Age", "Value"], index=["First", "Second"])
df1.mean().mean()

12.0

In [20]:
df2 = pandas.DataFrame([ {"Name":"John"}, {"Name": "Jack"}])
df2

   Name
0  John
1  Jack

In [31]:
df3=pandas.DataFrame([{"Name":"John", "Surname":"Johns"}, {"Name":"Jack"}])
df3

   Name Surname
0  John   Johns
1  Jack     NaN